
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <p>
                Hey {{ name }}, enter the code below in the app to reset your password. Please ignore if you did not request the reset.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border-radius: 2px;" bgcolor="#ED2939">
                        <p style="padding: 8px 12px; border: 1px solid #ED2939;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                            {{reset_password_code}}             
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <td>
        <p>
           If the button does not work click the link below:
        </p>
        <p>{{ reset_password_url }} </p>
    </td>
  </table>
